{
    "singleQuote": true,
    "bracketSpacing": true,
    "trailingComma": "all",
    "proseWrap": "always",
    "useTabs": false,
    "importOrder": ["antd/(.*)", "<THIRD_PARTY_MODULES>", "@/(.*)", "^[./]"],
    "importOrderSeparation": true
  }
  